extends ./layout

block styles
	link(rel='stylesheet', href='/css/char-finish.css')
append scripts 
	script(src="/js/char-finish.js")

block content
	form(method="POST", action="/charsheet").container
		.submit-blur
		each vals, key in query
			each val in [].concat(vals || [])
					input(type="hidden", name=key, value=val)
		
		h2.page-title Select Attributes
		div.panel
			.panel-body
				ul.list-unstyled
					each abilityName, abilityID in abilities
						-var bonus = (charDataAbilities[abilityID] || 0);
						li.ability.col-sm-2
							label.center-block
								span=abilityName
								input(type="number", name="", value=8+bonus, min=8+bonus, max=15+bonus, data-bonus=bonus).form-control.center-block.input-lg
								input(type="hidden", name=`abilities[${abilityID}]`, value=0)
							output.center-block.ability-modifier
			.panel-footer.clearfix
				.pull-right.footer
					span#pointsLeft
						span="points remaining:"
						output=27
					input#reset(type="button", value="Reset").btn.btn-secondary
					input#submit(type="submit", value="Finish >").btn.btn-primary