extends ./layout

block styles
	link(rel='stylesheet', href='/css/charsheet.css')

append scripts
	script(src="/js/charsheet.js")
	
block content
	.panel.panel-default.col-md-6
		.panel-body#charsheet
			header.label-below
				label.col-md-5
					input(type="text", value="Qaldrin Tomeguard").form-control.input-lg
					span Character Name
				label.col-md-2
					input(type="text", value="Wizard").form-control
					span Class
				label.col-md-1
					input(type="number", name="level", value="1").form-control
					span Level
				label.col-md-2
					input(type="text", name="background", value="Archivist").form-control
					span Background
				label.col-md-2
					input(type="text", name="playerName", value="Steve").form-control
					span Player
				label.col-md-3
					input(type="text", name="race", value="Forest Gnome").form-control
					span Race
				label.col-md-3
					input(type="text", name="alignment", value="Lawful Neutral").form-control
					span Alignment
				label.col-md-1
					input(type="number", name="xp", value="0").form-control
					span XP
			ul.col-md-2.list-unstyled
				for ability in abilities
					li.ability
						label.center-block
							span=ability
							input(type="number", name=ability maxlength="2", value="10").form-control.center-block.input-lg
						output.center-block.ability-modifier="0"
			.col-md-3
				fieldset
					ul
						for savingThrow in savingThrows
							li.skill.form-inline
								.checkbox
									input(type="checkbox")
								.form-group
									input(type="text", maxlength="3", data-ability=savingThrow).form-control
									label=savingThrow
					legend Saving Throws
				fieldset
					ul
						for skill in skills
							li.skill.form-inline
								.checkbox
									input(type="checkbox")
								.form-group
									label
										input(type="text", maxlength="3", data-ability=skill.ability).form-control
										span
											|#{skill.name}
											span.skill-ability=skill.ability.substr(0, 3)
					legend Skills
			.col-md-3.label-below
				label.col-md-4
					input(type="number", name="armorClass", value="1").form-control
					span Armor Class
				label.col-md-4
					input(type="number", name="initiative", value="1").form-control
					span Initiative
				label.col-md-4
					input(type="number", name="speed", value="30").form-control
					span Speed
				label.col-md-4
					input(type="number", name="currentHP", value="6").form-control
					span Current HP
				label.col-md-4
					input(type="number", name="maxHP", value="6").form-control
					span Max HP
				label.col-md-4
					input(type="number", name="tempHP", value="").form-control
					span Temp HP
				label.col-md-12
					textarea(name="attacks", rows=15)
					span Attacks
				label.col-md-12
					textarea(name="equipment", rows=35)
					span Equipment
			.col-md-4.label-below
				label.col-md-12
					textarea(name="personalityTraits", rows=5)="I've read countless ancient books but lost touch with the modern world. I often use obsolete placenames and speak of countries long forgotten in the present tense."
					span Personality Traits
				label.col-md-12
					textarea(name="ideals", rows=5)="Knowledge: The path to power and self-improvement is through knowledge. (Neutral)\nLogic: Emotions must not cloud our logical thinking. (Lawful)"
					span Ideals
				label.col-md-12
					textarea(name="bonds", rows=5)
					span Bonds
				label.col-md-12
					textarea(name="flaws", rows=5)
					span Flaws
				label.col-md-12
					textarea(name="features", rows=30)
					span Features & Traits