extends ./layout

block styles
	link(rel='stylesheet', href='/css/charsheet.css')

block content
	.panel.panel-default.col-md-8
		.panel-body#charsheet
			header.label-below
				label.col-md-5
					input(type="text", value="Qaldrin Tomeguard").form-control.input-lg
					span.form-label Character Name
				label.col-md-2
					input(type="text", value="Wizard").form-control
					span.form-label Class
				label.col-md-1
					input(type="number", name="level", value="1").form-control
					span.form-label Level
				label.col-md-2
					input(type="text", name="background", value="Archivist").form-control
					span.form-label Background
				label.col-md-2
					input(type="text", name="playerName", value="Steve").form-control
					span.form-label Player
				label.col-md-3
					input(type="text", name="race", value="Forest Gnome").form-control
					span.form-label Race
				label.col-md-3
					input(type="text", name="alignment", value="Lawful Neutral").form-control
					span.form-label Alignment
				label.col-md-1
					input(type="number", name="xp", value="0").form-control
					span.form-label XP
			ul.abilities.col-md-1.list-unstyled
				for ability in abilities
					li.ability
						label
							span.form-label=ability
							input(type="number", maxlength="2").form-control
							output="+2"
			.col-md-3
				fieldset
					ul.savingThrows.list-unstyled
						for savingThrow in savingThrows
							li.skill.form-inline
								.checkbox
									input(type="checkbox")
								.form-group
									input(type="text", maxlength="3").form-control
									label=savingThrow
					legend Saving Throws
				fieldset
					ul.list-unstyled
						for skill in skills
							li.skill.form-inline
								.checkbox
									input(type="checkbox")
								.form-group
									label
										input(type="text", maxlength="3").form-control
										span.form-label
											|#{skill.name}
											span.skill-ability=skill.ability.substr(0, 3)
					legend Skills
			.col-md-4.label-below
				label.col-md-4
					input(type="number", name="armorClass", value="1").form-control
					span.form-label Armor Class
				label.col-md-4
					input(type="number", name="initiative", value="1").form-control
					span.form-label Initiative
				label.col-md-4
					input(type="number", name="speed", value="1").form-control
					span.form-label Speed
				label.col-md-4
					input(type="number", name="currentHP", value="6").form-control
					span.form-label Current HP
				label.col-md-4
					input(type="number", name="maxHP", value="6").form-control
					span.form-label Maximum HP
				label.col-md-4
					input(type="number", name="tempHP", value="").form-control
					span.form-label Temporary HP
				label.col-md-12
					textarea.form-control.input-sm(name="attacks", rows=15)
					span.form-label Attacks
				label.col-md-12
					textarea.form-control.input-sm(name="equipment", rows=35)
					span.form-label Equipment
			.col-md-4.label-below
				label.col-md-12
					textarea.form-control.input-sm(name="personalityTraits", rows=5)="I've read countless ancient books but lost touch with the modern world. I often use obsolete placenames and speak of countries long forgotten in the present tense."
					span.form-label Personality Traits
				label.col-md-12
					textarea.form-control.input-sm(name="ideals", rows=5)="Knowledge: The path to power and self-improvement is through knowledge. (Neutral)\nLogic: Emotions must not cloud our logical thinking. (Lawful)"
					span.form-label Ideals
				label.col-md-12
					textarea.form-control.input-sm(name="bonds", rows=5)
					span.form-label Bonds
				label.col-md-12
					textarea.form-control.input-sm(name="flaws", rows=5)
					span.form-label Flaws
				label.col-md-12
					textarea.form-control.input-sm(name="features", rows=30)
					span.form-label Features & Traits