extends ./layout

block styles
	link(rel='stylesheet', href='/css/charsheet.css')

append scripts
	script var CHAR_DATA = !{charDataStr}
	script(src="/js/charsheet.js")
	
block content
	form(method="POST")#charsheet.container: .row.panel.panel-default
		#save-panel
			input(type="submit", value="Save Changes").btn.btn-success.btn-lg.center-block
		.panel-header
			ul.nav.nav-tabs
				li(role="presentation"): a(href="#BasicInfo")="Basic Info"
				li(role="presentation"): a(href="#CharDetails")="Character Details"
				li(role="presentation"): a(href="#Spells")="Spells"
		.panel-body(data-page="BasicInfo")
			
			header.label-below
				+form-text(5, "Character Name", "charName").input-lg
				label.col-sm-2
					select(id="charClass", name="charClass").form-control
						each charClass in CharClasses
							option(data-basehp=charClass.baseHP, data-savingthrows=charClass.savingThrows.join(','), data-spellcastability=charClass.spellcastAbility)=charClass.name
					span="Class"
				+form-number(1, "Level", "charLevel", 1, 20, 1)
				label.col-sm-2
					select(id="background", name="background").form-control
						each background in Backgrounds
							option(data-skills=background.skills.join(','))=background.name
					span="Background"
				+form-text(2, "Player", "playerName")
				label.col-sm-3
					select(id="subrace", name="subrace").form-control
						each race in CharRaces
							if race.subraces.length
								optgroup(label=race.name)
									each subrace in race.subraces
										option=subrace.name
							else
								option(selected=race.name==="Human")=race.name
					span="Race"
				label.col-sm-3
					select(id="alignment", name="alignment").form-control
						option=""
						each alignment in Alignments
							option=alignment
					span="Alignment"
				+form-number(1, "XP", "xp", 0)
			.col-sm-3
				.row
					.col-sm-5
						ul.list-unstyled
							for ability in Abilities
								li.ability
									label.center-block
										span=ability.name
										input(type="number", id=ability.id, name=ability.id, value="10", min=8, max=20).form-control.center-block.input-lg
									output.center-block.ability-modifier(data-ability=ability.id)
					.col-sm-7
						+fieldset-singleton("Proficiency Bonus", "profBonus", "+2")
						fieldset
							ul.list-unstyled
								for ability in Abilities
									li.row.skill
										.col-xs-1.col-md-1: input(type="checkbox", id="savingThrows"+ability.id, name="savingThrows", value=ability.id)
										.col-xs-3.col-md-3: input(type="text", maxlength="3", data-ability=ability.id).form-control
										.col-xs-8.col-md-8: label(for="savingThrows"+ability.id)=ability.name
							legend Saving Throws
						fieldset
							ul.list-unstyled
								for skill in Skills
									li.row.skill
										.col-xs-1.col-md-1: input(type="checkbox", id="skills-"+skill.name, name="skills", value=skill.name)
										.col-xs-3.col-md-3: input(type="text", maxlength="3", data-ability=skill.ability).form-control
										.col-xs-8.col-md-8: label(for='skills-'+skill.name)=savingThrow
											|#{skill.name}
											span.skill-ability=skill.ability
							legend Skills
						+fieldset-singleton("Passive Perception", "passivePercep", "+2")(data-ability='WIS', data-baseval='10')
				.row.label-below
					+form-textarea(12, "Languages", "languages", 2, [].concat(charData.languages || []).join(', '))
					+form-textarea(12, "Armor", "armor", 2, [].concat(charData.armor || []).join(', '))
					+form-textarea(12, "Weapons", "weapons", 2, [].concat(charData.weapons || []).join(', '))
					+form-textarea(12, "Tools", "tools", 2, [].concat(charData.miscTools || []).join(', '))
					+form-textarea(12, "Other Proficiencies & Languages", "miscSkills", 13)
			.col-sm-9
				.row.label-below
					.col-sm-6
						+form-number(4, "Armor Class", "armorClass")(data-ability='DEX', data-baseval='10')
						+form-text(4, "Initiative", "initiative")(data-ability='DEX', data-baseval='0')
						+form-number(4, "Speed", "speed", 0, null, 30)
						+form-number(4, "Current HP", "currentHP", 0)(data-ability='CON', data-hp=true)
						+form-number(4, "Max HP", "maxHP", 0)(data-ability='CON', data-hp=true)
						+form-number(4, "Temp HP", "tempHP", 0)
						+form-textarea(12, "Attacks", "attacks", 15)
						h5.col-sm-12="Equipment"
						ul.col-sm-12
							each equipmentItem, i in charData.equipment || []
								input(name=`equipment[${i}]` value=equipmentItem).form-control
					.col-sm-6
						+form-textarea(12, "Personality Traits", "personalityTraits", 5)
						+form-textarea(12, "Ideals", "ideals", 5)
						+form-textarea(12, "Bonds", "bonds", 5)
						+form-textarea(12, "Flaws", "flaws", 5)
						h5.col-sm-12="Features"
						ul.col-sm-12
							each feature, i in charData.features || []
								li
									dt: input(name=`features[${i}][name]`, value=feature.name).form-control
									dd: textarea(name=`features[${i}][description]`).form-control=feature.description
		.panel-body(data-page="CharDetails")
			header.label-below
				+form-text(5, "Character Name", "charName2").input-lg
				//+form-number(2, "Age", "charAge", null, 1)
				.col-sm-1
				label.col-sm-2
					.input-group
						input.form-control(type="number", id="charAge", name="charAge", min=1)
						.input-group-addon="years"
					span="Age"
				+form-text(2, "Height", "height")
				label.col-sm-2
					.input-group
						input.form-control(type="number", id="charWeight", name="charWeight", min=1)
						.input-group-addon="lbs"
					span="Weight"
				.col-sm-1
				+form-text(2, "Eyes", "charEyes")
				+form-text(2, "Skin", "charSkin")
				+form-text(2, "Hair", "charHair")
		.panel-body(data-page="Spells")
			header.label-below
				.col-sm-3
				+form-text(2, "Spellcasting Ability", "spellcastAbility").input-lg
				+form-number(2, "Spell Save DC", "spellSaveDC").input-lg(data-ability=true, data-profbonus="true", data-baseval="8")
				+form-text(2, "Spell Attack Bonus", "spellAttackBonus").input-lg(data-ability=true, data-profbonus="true")
				.col-sm-3


mixin fieldset-singleton(label, name, value)
	fieldset.row.skill
		.col-xs-3.col-md-3: input(type="text", id=name, name=name, maxlength="3", value=value)&attributes(attributes).form-control
		.col-xs-9.col-md-9: label(for=name)=label

mixin form-text(colspan, label, name, value)
	label(class=`col-sm-${colspan}`)
		input.form-control(type="text", id=name, name=name, value=value || "")&attributes(attributes)
		span=label
mixin form-number(colspan, label, name, min, max, value)
	label(class=`col-sm-${colspan}`)
		input.form-control(type="number", id=name, name=name, value=value || "", min=min, max=max)&attributes(attributes)
		span=label
mixin form-textarea(colspan, label, name, rows)
	label(class=`col-sm-${colspan}`)
		textarea.form-control.input-sm(id=name, name=name, rows=rows)&attributes(attributes)
		span=label	