extends ./layout

block styles
	link(rel='stylesheet', href='/css/charsheet.css')

append scripts
	script(src="/js/charsheet.js")
	
block content
	.panel.panel-default.col-md-6
		.panel-body#charsheet
			header.label-below
				+form-text(5, "Character Name", "charName", "Qaldrin Tomeguard").input-lg
				+form-text(2, "Class", "class", "Wizard")
				+form-number(1, "Level", "level", 1)
				+form-text(2, "Background", "background", "Archivist")
				+form-text(2, "Player", "playerName", "Steve")
				+form-text(3, "Race", "race", "Forest Gnome")
				+form-text(3, "Alignment", "alignment", "Lawful Neutral")
				+form-number(1, "XP", "xp", 0)
			.col-md-2
				ul.list-unstyled
					for ability in abilities
						li.ability
							label.center-block
								span=ability
								input(type="number", name=ability, value="10").form-control.center-block.input-lg
							output.center-block.ability-modifier="0"
			.col-md-3
				fieldset
					.skill.form-inline
						label
							input(type="text", name="profBonus", maxlength="3", value="+2").form-control
							span="Proficiency Bonus"
				fieldset
					ul.list-unstyled
						for savingThrow in savingThrows
							li.skill.form-inline
								.checkbox
									input(type="checkbox")
								.form-group
									label
										input(type="text", maxlength="3", data-ability=savingThrow).form-control
										span=savingThrow
					legend Saving Throws
				fieldset
					ul.list-unstyled
						for skill in skills
							li.skill.form-inline
								.checkbox
									input(type="checkbox")
								.form-group
									label
										input(type="text", maxlength="3", data-ability=skill.ability).form-control
										span
											|#{skill.name}
											span.skill-ability=skill.ability.substr(0, 3)
					legend Skills
				fieldset
					.skill.form-inline
						label
							input(type="text", name="passivePercep", maxlength="3", value="+2").form-control.col-md-4
							span.col-md-8="Passive Perception"
			.col-md-3.label-below
				+form-number(4, "Armor Class", "armorClass", 8)
				+form-number(4, "Initiative", "initiative", 1)
				+form-number(4, "Speed", "speed", 30)
				+form-number(4, "Current HP", "currentHP", 1)
				+form-number(4, "Max HP", "maxHP", 1)
				+form-number(4, "Temp HP", "tempHP")
				+form-textarea(12, "Attacks", "attacks", "", 15)
				+form-textarea(12, "Equipment", "equipment", "", 35)
			.col-md-4.label-below
				+form-textarea(12, "Personality Traits", "personalityTraits", "I've read books", 5)
				+form-textarea(12, "Ideals", "ideals", "Knowledge: The path to power", 5)
				+form-textarea(12, "Bonds", "bonds", "My Bonds", 5)
				+form-textarea(12, "Flaws", "flaws", "My Flaws", 5)
				+form-textarea(12, "Features & Traits", "features", "", 30)

mixin form-text(colspan, label, name, value)
	label(class='col-md-' + colspan)
		input.form-control(type="text", name=name, value=value || "")&attributes(attributes)
		span=label
mixin form-number(colspan, label, name, value)
	label(class='col-md-' + colspan)
		input.form-control(type="number", name=name, value=value || "")&attributes(attributes)
		span=label
mixin form-textarea(colspan, label, name, value, rows)
	label(class='col-md-' + colspan)
		textarea.form-control.input-sm(name=name, rows=rows)&attributes(attributes)=value || ""
		span=label