extends ./layout

block styles
	style.
		.modal-body .list-group-item {
			cursor:pointer;
		}

block content
	h2 Select a #{title}:
	div.row
		for ddclass in ddclasses
			div.col-sm-4.col-md-2
				div.thumbnail(data-name=ddclass.name)
					img(src=ddclass.image, alt="...", style="height:300px;")
					div.caption
					h3=ddclass.name
					p(style="height:200px;")=ddclass.description
					p
						input(type="button", value="Choose " + ddclass.name).btn.btn-primary
					.decision-dialogs
						for decision in ddclass.decisions
							.modal.fade(data-count=decision.count, role="dialog"): .modal-dialog(role="document"): .modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
									h3.modal-title Choose #{decision.name}
								.modal-body
									.list-group
										for option in decision.options
											a.list-group-item #{option.name}
								.modal-footer
									button(type="button").btn.btn-primary.disabled="Okay"

append scripts
	script.
		$(function() {
			$('input[type=button]').on('click', function() {
				var $dialogs = $(this).parents('.thumbnail').find('.decision-dialogs').children();
				if ($dialogs.length) {
					$dialogs.eq(0).modal('show');
				} else {
					nextPage($(this));
				}
			});
			
			$('.modal-body .list-group-item').on('click', function() {
				if (!$(this).hasClass('disabled')) {
					$(this).toggleClass('active');
					const $modal = $(this).parents('.modal');
					const $items = $modal.find('.list-group-item');
					const canSelectMore = $items.filter('.active').length < +$modal.data('count');
					$items.not('.active').toggleClass('disabled', !canSelectMore);
					$modal.find('.modal-footer .btn').toggleClass('disabled', canSelectMore);
				}
			});
			
			$('.modal-footer .btn').on('click', function() {
				if (!$(this).hasClass('disabled')) {
					const $modal = $(this).parents('.modal');
					$modal.modal('hide');
					nextPage($modal);
				}
			});
			
			function nextPage($target) {
				const ddClass = $target.parents('.thumbnail').data('name');
				location.href = '!{nextPage}' + ddClass;
			}
		});
	